.code_cell {  /* Area containing both code and output */
    font-family: "Source Code Pro", "Droid Sans Mono", Consolas, "Ubuntu Mono", "Liberation Mono", monospace;
    border-radius: 0.8em;
    padding: 1em;
}

code, pre, .CodeMirror {
    font-family: "Source Code Pro", "Droid Sans Mono", Consolas, "Ubuntu Mono", "Liberation Mono", monospace;
    line-height: 1.25em;
}

div.prompt {
    font-family: "Source Code Pro", "Droid Sans Mono", Consolas, "Ubuntu Mono", "Liberation Mono", monospace;
}

div.output_area pre {
    font-family: "Source Code Pro", "Droid Sans Mono", Consolas, "Ubuntu Mono", "Liberation Mono", monospace;
    line-height: 1.25em;
}

